h1{
    text-align: center;
    /* background-color: white; */
    color: black;
}
.check-h{
    display: flex;
    flex-direction: column;
}
h2 {
    color: blue;
    /* background-color: white; */
}
p {
    color: black;
}
label {
    color: darkblue;
}
button:hover {
    color: chartreuse;

}
body {
    background-color: darkgray;
}
